
<!-- NAV.HTML -->
<nav class="navbar navbar-expand-lg navbar-dark">
	<div class="container-fluid">
		<span class="navbar-brand mb-0 h1">{{ site.title }}</span>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
	  	</button>
		<div class="collapse navbar-collapse"></div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="navbar-nav">
				{% for item in page.menuitems %}
				{% if item.hasItems == "true" %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{{ item.url }}" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						{{ item.title }}
					  </a>
					  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						{% for subitem in item.items %}
						<li class="nav-item">
							<a class="dropdown-item" href="{{ subitem.url }}"> {{ subitem.title }}</a>
						</li>
						{% endfor %}
					</ul>
				</li>
				{% else %}
				<li class="nav-item">
					<a class="nav-link {% if item.url == page.url %}active{% endif %}" aria-current="page" href="{{ item.url }}">{{ item.title }}</a>
				 </li>
				{% endif %}
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</nav>
<!-- /NAV.HTML -->